# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.ini

# PSOC STUFF 
*.cywrk.*
*.cyprj.*

LAB\TFT_LCD_DRIVER\PSoC\ILI9488\ILI9488_test.cydsnDebug/Export
LAB\TFT_LCD_DRIVER\PSoC\ILI9488\ILI9488_test.cydsnDebug/Release
LAB\TFT_LCD_DRIVER\PSoC\ILI9488\ILI9488_test.cydsnDebug/Debug

*\codegentemp\
*/codegentemp/
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd



LAB/*/Debug/*

LAB/*/.vs/*